.currency-container{
    position: absolute;
    background:#ffff;
    width: 100px;
    height: 140px;
    display:flex;
    flex-direction:column;
    top: 70px;
    right:80px;
    border: 1px solid black;
    z-index:100;
    display: none;

    .dollar, .euro, .yen{
        margin: 5px 5px;
    }
    
}