.cart-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 80px;
    margin-bottom: 80px;
  
    
  
    .item-details {
      width: 136px;
      height: 52px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 10px 20px;
  
      .name {
        font-size: 16px;
        margin-bottom: 5px;
      }
    }
    img {
      width: 105px;
      height: 137px;
      display: flex;
      object-fit: cover;
     }
  }
