.cart-contianer{
    width: 45px;
    height: 45px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover{
        background-color: linear-gradient(316.98deg, #52D67A 16.88%, #5AEE87 84.04%)
    }
    
    ShoppingIcon{
        width: 35px;
        height: 35px; 
    }

    .item-count{
        position: absolute;
        font-size: 10px;
        font-weight: bold;
        bottom: 22px;
        left: 28px;
        width:14.29px;
        height:14.29px;
        text-align: center;
        font-family: Roboto;
        font-weight: bold;

        background-color: #000;
        color: #fff;
        border-radius:50px;
        margin-top: 5px;;

        .number{
            margin-top:5px;
            text-align: center;
            
        }

    }
}