.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  
    .logo-container {
      height: 100%;
      width: 70px;
      padding: 25px;

      .logo{
        width:31.18px;
        height:28.62px;
        top:1.31px;
      }
     
    }

    .options {
      width: 200px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
  
      .option {
        padding: 10px 15px;
      }
    }
    .cart-currency {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .currency{
          display: flex;
          justify-content:space-between;
          .amount{
            font-size:12.5px;
            margin-right: 5px;
          }
          .arrow{
            margin-top: 5px;
            margin-bottom: 5px;
          }
        }
        p{
            display: flex;
        }
    }
  }
  .navbar__link--active {
    color:#5ECE7B;
    transition: color .1s ease-in-out;
  }